node_modules
coverage/
*.log
npm-debug.log
.logs/
logs/
/sea-modules/
*.swp
*.swn
*.swm
*.diff
*.log
*.patch
*.bak
*.log
*.iml
*.ipr
*.iws
*.out
*.gz
*#
*~
~*


############################
# Editor & OS files
############################
.idea
.DS_STORE
.Trashes
.project
.rebooted
.*proj
Thumbs.db
ehthumbs.db
Icon?
nbproject


############################
# Report files
############################
coverages
coverage
reports
report
lib-cov
html-report
nohup.out
out
logs
log


############################
# Other
############################
.node_history
.svn
**/run/*
**/tms
**/logs
.node-*
run/
*-run/
.idea/
.DS_Store
*-tair.xml
assembly
package-lock.json
dist
coverage